In [1]:
import pandas as pd
import numpy as np
import csv

In [2]:
df1 = pd.read_csv('/Users/campbelle2/Downloads/SPADE_input_controls.csv')

In [3]:
df1.dtypes

Unnamed: 0       int64
person_id        int64
Timing_Class     int64
times            int64
EDCs            object
dtype: object

In [4]:
df1.head()

,Unnamed: 0,person_id,Timing_Class,times,EDCs
0,1,4239598,1,2,"1-NUR04, 1-PSY17"
1,2,4239598,2,3,"2-MUS06, 2-MUS17, 2-PSY17"
2,3,4239598,3,1,3-MUS02
3,4,4239604,1,3,"1-EAR01, 1-EAR11, 1-RES05"
4,5,4239604,2,4,"2-EAR01, 2-EAR11, 2-GSI01, 2-RES05"

In [5]:
df1['EDCs'] = df1['EDCs'].str.replace(',', ' ')

In [ ]:
df1.drop("Unnamed: 0",axis=1,inplace=True)  
df1.head()

In [11]:
df1.sort_values(by = [0,1], axis=1)

        Timing_Class  times  person_id                                EDCs
0                  1      2    4239598                    1-NUR04  1-PSY17
1                  2      3    4239598           2-MUS06  2-MUS17  2-PSY17
2                  3      1    4239598                             3-MUS02
3                  1      3    4239604           1-EAR01  1-EAR11  1-RES05
4                  2      4    4239604  2-EAR01  2-EAR11  2-GSI01  2-RES05
5                  3      2    4239604                    3-INF06  3-MUS15
6                  1      1    4239606                             1-SKN07
7                  2      1    4239606                             2-MUS02
8                  3      1    4239606                             3-GSU09
9                  1      2    4239623                    1-ADM05  1-SKN02
10                 2      3    4239623           2-ADM05  2-ALL03  2-SKN02
11                 3      3    4239623           3-ADM05  3-ALL03  3-RES05
12                 1      3    4239627           1-ADM05  1-ALL04  1-EAR01
13                 2      2    4239627                    2-EAR01  2-EAR08
14                 3      2    4239627                    3-EAR01  3-EAR08
15                 1      2    4239653                    1-SKN02  1-SKN11
16                 2      1    4239653                             2-GAS03
17                 3      1    4239653                             3-GAS03
18                 1      1    4239684                             1-EAR11
19                 2      1    4239684                             2-REC02
20                 3      2    4239684                    3-EAR11  3-NUR02
21                 1      2    4239697                    1-ALL01  1-GSU03
22                 2      3    4239697           2-EAR01  2-EAR08  2-GSI01
23                 3      4    4239697  3-ALL04  3-EAR01  3-RES02  3-RES05
24                 1      1    4239704                             1-MUS04
25                 2      1    4239704                             2-NUR15
26                 1      2    4239712                    1-ALL05  1-EAR11
27                 2      1    4239712                             2-SKN17
28                 3      1    4239712                             3-INF06
29                 1      2    4239719                    1-GTC02  1-GUR09
...              ...    ...        ...                                 ...
143474             1      2    5968399                    1-ADM05  1-MUS04
143475             2      1    5968399                             2-MUS04
143476             3      1    5968399                             3-MUS04
143477             1      1    5968412                             1-GSI02
143478             2      2    5968412                    2-GSI02  2-RHU01
143479             1      3    5968485           1-ADM05  1-MUS02  1-MUS04
143480             2      2    5968485                    2-MUS02  2-MUS04
143481             3      1    5968485                             3-MUS04
143482             1      2    5968535                    1-GSI01  1-MUS01
143483             2      2    5968535                    2-MUS17  2-SKN20
143484             1      1    5968562                             1-GUR03
143485             2      2    5968562                    2-GSU10  2-GUR03
143486             1      1    5968563                             1-MUS02
143487             2      2    5968563                    2-MUS02  2-MUS04
143488             1      2    5968579                    1-MUS04  1-REC02
143489             2      1    5968579                             2-MUS04
143490             1      1    5968619                             1-GSU14
143491             2      2    5968619                    2-CAR08  2-GSI02
143492             1      1    5968660                             1-GSU04
143493             2      1    5968660                             2-GSU10
143494             3      1    5968660                             3-GSU10
143495             1      1    5969077                             1-MUS11
143496             2      1    5969077                             2-MUS11
143497             1      2    5969237                    1-EAR09  1-NUR10
143498             2      1    5969237                             2-SKN14
143499             1      1    5969283                             1-EAR01
143500             2      2    5969283                    2-GSI01  2-GSU10
143501             1      1    5969297                             1-PSY17
143502             2      1    5969297                             2-PSY17
143503             3      1    5969297                             3-PSY17

[143504 rows x 4 columns]

In [12]:
df1.to_csv('/Users/campbelle2/Documents/Revised_SPADE_input_controls.txt', encoding='utf-8', index=False, header=False, sep=" ", escapechar=" ", quoting=csv.QUOTE_NONE)