In [13]:
import pandas as pd
import numpy as np

In [14]:
df1 = pd.read_csv('/Users/campbelle2/Documents/SPADE_output_controls.csv')

In [15]:
df1.dtypes

Unnamed: 0      int64
sequence       object
support       float64
dtype: object

In [16]:
df1.head()

   Unnamed: 0     sequence   support
0           1  <{1-ADM02}>  0.008392
1           2  <{1-ADM03}>  0.000543
2           3  <{1-ADM05}>  0.034415
3           4  <{1-ADM06}>  0.014430
4           5  <{1-ALL01}>  0.007265

In [17]:
df1.drop("Unnamed: 0",axis=1,inplace=True)  
df1.head()

      sequence   support
0  <{1-ADM02}>  0.008392
1  <{1-ADM03}>  0.000543
2  <{1-ADM05}>  0.034415
3  <{1-ADM06}>  0.014430
4  <{1-ALL01}>  0.007265

In [18]:
df1['sequence'] = df1['sequence'].str.replace('"', '')

In [19]:
df1['sequence'] = df1['sequence'].str.replace('<', '')

In [20]:
df1['sequence'] = df1['sequence'].str.replace('{', '')

In [21]:
df1['sequence'] = df1['sequence'].str.replace('}', '')

In [22]:
df1['sequence'] = df1['sequence'].str.replace('>', '')

In [23]:
df1.head()

  sequence   support
0  1-ADM02  0.008392
1  1-ADM03  0.000543
2  1-ADM05  0.034415
3  1-ADM06  0.014430
4  1-ALL01  0.007265

In [24]:
df1.to_csv('/Users/campbelle2/Documents/Revised_SPADE_output_controls.csv', encoding='utf-8', index=False, header=True)